@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Container */
.container{
  width: 100%;
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 830px;

  background: url("../img/main.jpg") center no-repeat;
  background-size: cover;
}

.main_inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.main_title {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 88px;
  letter-spacing: 3.94px;
}

.main_title:after {
  content: "";
  display: block;
  width: 54px;
  height: 2px;
  margin: 30px auto 100px auto;
  background-color: #fff;
}

.main_suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  color: #fff;
  letter-spacing: 3.11px;
  margin-bottom: 30px;
}
.main_button{
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 17px;
  display: inline-block;
  vertical-align: top;
  transition: background.1s linear;
}
.main_button:hover{
  background-color: #fff;
  color: #333;
}

/*Header*/
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo{
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
  transition: color .1s linear;
}

.header.fixed {
  padding: 7px 0;
  background-color: #7D715A;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translate3d(0, 0, 0);
}
.header.active {
  background-color: #7D715A;
}

/* Navigation */
.nav_link{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
  position: relative;

}
.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav_link:hover::after{
  opacity: 1;
}
.header_logo:hover{
  color: #C4B190;
}

/*Section*/

.section {
  padding: 80px 0;
}

.section_header{
  /*width: 100%;*/
  margin: 0 auto 90px;
  text-align: center;
}
.section_suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #333;
}

.section_title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.section_title:after {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  margin: 10px auto;
  background-color: #7D715A;
}

/* Main */
.rabbit_def{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;

}
.rabbit_def_img{
  display: block;
  width: 300px;
  height: 300px;
}

.rabbit_def_text{
  width: 60%;
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
  margin: auto 50px;
}

/* About */

.about {
  display: flex;
}


.about_item {
  position: relative;
  background: linear-gradient(to bottom, #514838, #000000);
}

.about_item:hover .about_image {
  opacity: .2;
}

.about_item:hover .about_text {
  opacity: 1;
}

.about_image {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .2s linear;
}

.about_text{
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 14px;
  text-transform: uppercase;
  transform: translate3d(0, -50%, 0);
  transition: opacity .2s linear;
}

/* Instagram*/

.instagram{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}
.instagram_item{
  width: 33%;
  border-bottom: 3px solid #fff;
  background: linear-gradient(to bottom, #514838, #000000);
}
.instagram_item img{
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .2s linear;

}

.instagram_item:hover img{
  opacity: .3;
}


.instagram_nick{
  display: flex;
  align-items: center;
}
.nick{
  font-size: 15px;
  letter-spacing: -0.37px;
  margin: 0;
  color: #333;
  line-height: 20px;
  padding-left: 5px;
}
.instagram a{
  text-decoration: none!important;
}
.instagram_nick:hover{
  opacity: .5;
}
/* Contacts */

.contacts {
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
}
.contacts a{
  width: 16%;
  align-items: center;
}
.contacts img{
  width: 100%;
  transition: opacity .2s linear;
}
.contacts img:hover{
  opacity: .5;
}


/* Why ITIS */

.why{
  display: flex;
  flex-direction: column;
}
.why_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.why_item_icon{
  width: 15%;
  margin-bottom: 20px;
}

.why_item_text{
  font-size: 30px;
  width: 50%;
  letter-spacing: 0.47px;
  line-height: 29px;
  color: #333;
  text-align: center;
}

