<div class="section">
    <div class="container">
        <div class="section_header">
            <h3 class="section_suptitle">Why</h3>
            <h2 class="section_title">ITIS?</h2>
        </div>

        <div class="why">
            <div class="why_item">
                <img class="why_item_icon" src="../img/why_itis/1.png" alt="">
                <div class="why_item_text">It’s near to my house</div>
            </div>
            <div class="why_item">
                <img class="why_item_icon" src="../img/why_itis/2.png" alt="">
                <div class="why_item_text">The building has great views</div>
            </div>
            <div class="why_item">
                <img class="why_item_icon" src="../img/why_itis/3.png" alt="">
                <div class="why_item_text">Nice people</div>
            </div>
            <div class="why_item">
                <img class="why_item_icon" src="../img/why_itis/4.png" alt="">
                <div class="why_item_text">I love programming</div>
            </div>
        </div>
    </div>
</div>
